body {
    font-family: Arial, sans-serif;
    background-color: #2d22222c;
    display: flex;
    justify-content: center;
    padding: 50px;
}


.persona-card {
    background: white;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 500px;
    text-align: center;
}


img {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Makes image circular */
    object-fit: cover; /* Prevents image stretching */
    box-shadow: #B22222 2px 2px 0px;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-left: 3%;
}


/* Add your own colors below based on your Vibe! */
h2 { color: #333;}
span { font-style: italic;}
.goals { color: #d97217d6;} 
.frustrations { color: #B22222d6;} 
.bubble{
    background-color: #e0e0e0;
    border-radius: 20px;
    padding: 10px 15px;
    margin-bottom: 10px;
    display: inline-block;
    max-width: 80%;
    box-shadow: 3px 5px 0px black;
}
.bubbleH{
    border-radius: 50px;
    margin-bottom: 20px;
    padding: 20px 10px;
    max-width: 90%;
    box-shadow: 5px 7px 0px black;
}
.G{
    background-color: #d97217d6;
}
.F{
    background-color: #B22222d6;
}
.list{
    background-color: #f7f5f3;
    border: #333 2px solid;
}
.bio{
    background-color: #2d22222c;
    border-radius: 20px;
    padding: 10px 15px;
    margin-bottom: 10px;
    max-width: 100%;
    margin-inline: 5%;
    color: black;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid #fbf8f82c;
}